# 默认使用淘宝源
registry=https://registry.npmmirror.com/

# 指定组织作用域使用内网 Nexus 源
@x-humanoid-cloud:registry=https://maven.x-humanoid-cloud.com/repository/pnpm-hosted/
//maven.x-humanoid-cloud.com/repository/pnpm-hosted/:_auth=YWRtaW46SGVsbG8xMjM0
//maven.x-humanoid-cloud.com/repository/pnpm-hosted/:always-auth=true